@use "../assets/_variables"
@use "../assets/_mixins"

.container
  background-color: variables.$grey
  font-family: variables.$font-family
  
  gap: 1rem
  display: flex
  flex-direction: column
  padding: 1rem
  max-height: 100vh
  position: relative

  

  @media screen and ( min-width: 425px )
    display: flex
    flex-direction: row-reverse
    align-items: center
    justify-content: space-between

.navbar
  display: flex
  align-items: center
  width: 100%
  z-index: 2
  
  @media screen and ( min-width: 425px )
    min-width: 10rem

  background-color: variables.$grey

  .links
    width: 100%
    display: flex
    justify-content: space-between

    @media screen and ( min-width: 425px )
      gap: 2rem
      flex-direction: column
      text-align: right

    .nav__link
      text-decoration: none
      color: variables.$off-white
      font-weight: variables.$font-bold
      font-size: 1.25rem

      @media screen and ( min-width: 425px )
        font-size: 1.5rem
      &__active
        color: variables.$flourescent-yellow

.main
  width: 100%
  overflow-y: scroll
  display: flex
  flex-direction: column
  gap: 1rem
  
  &::-webkit-scrollbar
    display: none

.project
  