@use "../assets/_variables"
@use "../assets/_mixins"

.container
  background-color: variables.$grey
  font-family: variables.$font-family
  gap: 1rem
  display: flex
  flex-direction: column
  max-height: 100vh


  @media screen and ( min-width: 425px )
    width: 100%
    flex-direction: row-reverse
    justify-content: space-between


.navbar
  display: flex
  align-items: center
  width: 100%
  z-index: 2
  background-color: variables.$grey
  padding: 1rem
  @media screen and ( min-width: 425px )
    width: 10rem
    min-height: 100vh
    

  .links
    width: 100%
    display: flex
    justify-content: space-between

    @media screen and ( min-width: 425px )
      gap: 2rem
      flex-direction: column
      text-align: right

    .nav__link
      text-decoration: none
      color: variables.$off-white
      font-weight: variables.$font-bold
      font-size: 1.25rem

      @media screen and ( min-width: 425px )
        font-size: 1.5rem
      &__active
        color: variables.$flourescent-yellow

.main
  overflow-y: scroll
  display: flex
  flex-direction: column
  gap: 1rem


  &::-webkit-scrollbar
    display: none
    
.section
  padding: 1rem