@use "../assets/_variables"
@use "../assets/_mixins"

.aboutme
  main
    @include mixins.flex-column(1rem)

    @media screen and ( min-width: 425px )
      @include mixins.flex-row(1rem)
      align-items: center
      justify-content: center

    .profile__info
      img
        max-width: 20rem
      .info
        .college
          @include mixins.flex-row(1rem)
          justify-content: center
          align-items: center

          img
            width: 1.5rem

    .aboutme__info
      @include mixins.flex-column(1rem)
      text-align: center

      @media screen and ( min-width: 425px )
        text-align: left
      .technologies
        header

        main
          margin-top: 1rem
          display: grid
          gap: 1rem
          grid-template-columns: repeat(2, 1fr)
          align-content: center

          @media screen and ( min-width: 425px )
            @include mixins.flex-row(1rem)

          i
            font-size: 5rem
            @media screen and ( min-width: 425px )
              font-size: 10rem
