@use "../assets/_mixins"
@use "../assets/_variables"

.aboutme
  section
    .text
      margin-bottom: 5rem
      .important
        @include mixins.logo()

    .info
      .bullet__info
        @include mixins.flex-row($gap: .5rem)
        align-items: center
        margin-bottom: .5rem
        img
          width: 2rem
        span
          font-size: 1rem
          color: variables.$solid-heading-dark-mode

  main
    @include mixins.flex-column($gap: 2rem)

    @media screen and (min-width: 600px)
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: 1rem

    .experiences
      @media screen and (min-width: 600px)
        @include mixins.flex-column($gap: 0)
