@use "../assets/_resets"
@use "../assets/_variables"
@use "../assets/_mixins"

.home
  min-height: 100vh
  color: variables.$off-white
  @include mixins.flex-column(0)
  justify-content: center
  position: relative
  .hello
    @media screen and ( min-width: 425px )
      padding: 5rem 

    h1, h2
      word-wrap: normal
      text-shadow: .2rem .2rem 1px variables.$dark-grey
    h1
      font-size: 3rem
      @media screen and ( min-width: 425px )
        font-size: 5rem
    h2
      font-size: 2rem
      @media screen and ( min-width: 425px )
        font-size: 3rem

    .role
      color: variables.$flourescent-yellow

  .down__arrow
    display: flex
    align-items: center
    justify-content: center
    margin-top: 3rem
    position: absolute
    bottom: 1rem
    left: calc(50% - 1.25rem)
    
    img
      width: 2.5rem
      transition: .5s
      &:hover
        transform: scale(1.5)
  .animate__animated.animate__bounce
      animation-duration: 1.5s
      animation-iteration-count: infinite
