@use "./assets/_resets"
@use "./assets/_mixins"
@use "./assets/_variables"

@use "./components/navbar"
@use "./components/menu"

@use "./pages/home"
@use "./pages/aboutme"

* 
  font-family: variables.$font-family

body
  padding: 1rem
  background-color: variables.$dark-mode
  color: variables.$solid-heading-dark-mode

  @media screen and (min-width: 600px)
    padding: 2rem 2rem
