@use "./assets/_resets"

@use "./assets/_mixins"
@use "./assets/_variables"

@use "./components/layout"

@use "./pages/home"
@use "./pages/aboutme"
@use "./pages/projects"
@use "./pages/contact"

*
  color: variables.$off-white
.section
  min-height: 90vh
  overflow: hidden
  
*
  color: variables.$off-white
